<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Зарегестрироваться</title>
</head>
<body>
<div class="container">
    <form class="form-signin" th:method="post" th:action="@{/auth/register}" th:object="${user}">
        <h2 class="form-signin-heading">Зарегестрироваться</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" th:field="*{username}" name="username" class="form-control" placeholder="Username" required autofocus>
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" >Username error</div>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" th:field="*{password}" name="password" class="form-control" placeholder="Password" required>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" >Password error</div>
        </p>
        <p>
            <label for="email" class="sr-only">Email</label>
            <input type="email" id="email" th:field="*{email}" name="email" class="form-control" placeholder="Email"  aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text"></div>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" >Email error</div>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Готово</button>

    </form>
</div>
</body></html>