<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Start</title>
</head>
<body>

<br>
<div class="container">
    <h1>Страница администратора</h1>
    <br>

    <br>
    <h3>Список всех пользователей: </h3>
    <hr/>
    <br>
    <br>
    <table class="table table-striped table-hover">
        <thead class="table-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Имя</th>
            <th scope="col">Email</th>
            <th scope="col">Роль</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${users}">
            <td th:text="${u.getId()}"></td>
            <td th:text="${u.getUsername()}"></td>
            <td th:text="${u.getEmail()}"></td>
            <td>
                <div class="d-inline-block" th:each="r : ${u.getRoles()}" th:text="${r.getShortName()}"></div>

            </td>
            <td>
                <div class="d-inline-block">
                    <a class="btn btn-primary btn-xs" th:href="@{/admin/edit(id=${u.getId()})}">Изменить</a>
                </div>
                <div class="d-inline-block">
                    <form th:method="DELETE" th:action="@{/admin(id=${u.getId()})}">
                        <button type="submit" class="btn btn-primary btn-xs">Удалить</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <a class="btn btn-primary btn-lg" th:href="@{/admin/new}" role="button">Добавить пользователя</a>
</div>
<br>
<div class="container">
    <form th:method="POST" th:action="@{/logout}">
        <button type="submit" class="btn btn-primary btn-xs">Выйти из системы</button>
    </form>
</div>


</body>
</html>
