<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Start</title>
</head>
<body>

<br>
<div class="container">
    <h2 th:text="${msg}"/>
    <br>
    <br>
    <form th:method="PUT" th:action="@{/admin}" th:object="${user}">
        <div class="mb-3">
            <input th:field="*{id}" type="hidden" class="form-control" id="id">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Имя: </label>
            <input th:field="*{username}" type="text" class="form-control" id="name">
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" >Username error
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль: </label>
            <input th:field="*{password}" type="password" class="form-control" id="password">
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" >Password error
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Адрес Email</label>
            <input th:field="*{email}" type="email" class="form-control" id="email" aria-describedby="emailHelp">
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" >Email error</div>
        </div>
        <div class="mb-3">
            <label for="role" class="form-label">Роль</label>
            <select th:object="${user}" th:field="*{roles}" class="form-select" size="2" multiple aria-label="role"
                    id="role">
                <option th:each="r : ${allRoles}" th:value="${r.getId()}" th:text="${r.getShortName()}"></option>
            </select>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Готово</button>
    </form>

</div>
<br>
<div class="container">
    <form th:method="POST" th:action="@{/logout}">
        <button type="submit" class="btn btn-primary btn-xs">Выйти из системы</button>
    </form>
</div>


</body>
</html>
</html>