<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Start</title>
</head>
<body>

<br>
<div class="container">
    <h2>Добро пожаловать!</h2>
    <br>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div class="container">
                    <a class="btn btn-primary btn-lg" th:href="@{/auth/login}" role="button">Войти</a>
                </div>
                <br>
                <div class="container">
                    <a class="btn btn-primary btn-lg" th:href="@{/auth/register}" role="button">Зарегестрироваться</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
