<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Start</title>
</head>
<body>

<br>
<div class="container">
    <h2>Страница пользователя: </h2>
    <hr/>
    <br>
    <br>
    <table class="table" th:object="${user}">
        <thead>
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Пароль</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getPassword()}"></td>
            <td th:text="${user.getEmail()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <form th:method="POST" th:action="@{/logout}">
        <button type="submit" class="btn btn-primary btn-xs">Выйти из системы</button>
    </form>
</div>


</body>
</html>
